<ion-header>
  <custom-header [title]="'Perfil do Usuário'"></custom-header>
</ion-header>

<ion-content padding>

  <p><strong>Tipo de Conexão: </strong> Conexão Wifi</p>
  <h1>Atualize seus dados</h1>
  <p>Esses dados serão necessários para lhes enviar Notificações pelas Secretarias da Faculdade</p>

  <form [formGroup]="perfilForm">
    
    <ion-list no-lines>
      
      <ion-item>
        <ion-label floating>Número: RA ou Matrícula</ion-label>
        <ion-input type="number" formControlName="nRAouMat" [class.invalid]="!perfilForm.controls.nRAouMat.valid && (perfilForm.controls.nRAouMat.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Usuário</ion-label>
        <ion-select  formControlName="usuario" [(ngModel)]="usuario" [class.invalid]="!perfilForm.controls.usuario.valid && (perfilForm.controls.usuario.dirty || submitAttempt)">
          <ion-option value="aluno">Aluno</ion-option>
          <ion-option value="funcionario">Funcionário</ion-option>
          <ion-option value="docente">Docente</ion-option>
          <ion-option value="pesquisador">Pesquisador</ion-option>
        </ion-select>
      </ion-item>

      <div [ngSwitch]="usuario">

      <div *ngSwitchCase="'aluno'">
      <ion-item>
        <ion-label>Formação</ion-label>
        <ion-select  formControlName="formacao" [(ngModel)]="formacao" [class.invalid]="!perfilForm.controls.formacao.dirty || submitAttempt">
          <ion-option value="graduacao">Graduação</ion-option>
          <ion-option value="posgmestrado">Pós-Graduação - Mestrado</ion-option>
          <ion-option value="posgdoutorado">Pós-Graduação - Doutorado</ion-option>
        </ion-select>
      </ion-item>

      <div [ngSwitch]="formacao">
      <ion-item>
        <ion-label>Disciplinas</ion-label>
        <ion-select formControlName="disc" multiple="true" [class.invalid]="perfilForm.controls.disc.dirty || submitAttempt">
            <div *ngSwitchCase="'graduacao'">
              <ion-option *ngFor="let d of graduacao">{{d.ano}} - {{d.sigla}} - Turma: {{d.turma}}</ion-option>
            </div>
            <div *ngSwitchCase="'posgmestrado'">
              <ion-option *ngFor="let d of posgrad">{{d.ano}} - {{d.sigla}} - Turma: {{d.turma}}</ion-option>
            </div>
            <div *ngSwitchCase="'posgdoutorado'">
              <ion-option *ngFor="let d of posgrad">{{d.ano}} - {{d.sigla}} - Turma: {{d.turma}}</ion-option>
            </div>
        </ion-select>
      </ion-item>
      </div>

      <ion-item>
        <ion-label>Ano de Ingresso</ion-label>
        <ion-datetime displayFormat="YYYY" min="2000" formControlName="anoIngresso"  [class.invalid]="(perfilForm.controls.anoIngresso.dirty || submitAttempt)"></ion-datetime> 
      </ion-item>
      
      </div>
      </div>


    </ion-list>

    <button ion-button block (click)="enviarPerfil()">Enviar</button>  
  </form>
  

</ion-content>
