<ion-header>
  <custom-header [title]="'Restaurante'"></custom-header>
  <ion-segment>
      <h6 margin>{{diaSemana()}}</h6>
  </ion-segment>
</ion-header>

<ion-content padding>

      <div *ngIf="!fimSemana()">
          
          <ion-card *ngFor="let c of cardapioHoje">
            <ion-card-header>
                <h1>{{c.TIPO}}</h1>
            </ion-card-header>
                
            <ion-card-content text-center>
              <p><strong>Acompanhamento: </strong><br>{{c.ACOMPANHAMENTO}}<br></p>
              <p><strong>Prato Principal: </strong><br>{{c.PRATO_PRINCIPAL}}<br></p>
              <p><strong>Guarnição: </strong><br>{{c.GUARNICAO}}<br></p>
              <p><strong>PTS: </strong><br>{{c.PTS}}<br></p>
              <p><strong>Salada: </strong><br>{{c.SALADA}}<br></p>
              <p><strong>Sobremesa: </strong><br>{{c.SOBREMESA}}<br></p>
              <p><strong>Suco: </strong><br>{{c.SUCO}}<br></p>
              <p><strong>Observação: </strong><br>{{c.OBS | limpaString:0}}<br></p>
              <p><span class="red">{{c.OBS | limpaString:2}}</span></p>
            </ion-card-content>
        
          </ion-card>
         
         </div>
        
          <div *ngIf="fimSemana()">
            <ion-card>
              <ion-card-content>
                <p color="danger">Não existem cardápios disnponíveis nos finais de semana.</p>
              </ion-card-content>
            </ion-card>
          </div>
</ion-content>
