<ion-header>
  <custom-header [title]="'Restaurante'"></custom-header>
  <ion-segment>
      <h6 margin>{{diaSemana()}}</h6>
  </ion-segment>
</ion-header>

<ion-content padding>

      <div *ngIf="!fimSemana()">
          
          <ion-card *ngFor="let c of cardapioHoje">
            <ion-card-header>
                {{c.TIPO}}
            </ion-card-header>
                
            <ion-card-content>
              <strong>Acompanhamento: </strong>{{c.ACOMPANHAMENTO}}<br>
              <strong>Prato Principal: </strong>{{c.PRATO_PRINCIPAL}}<br>
              <strong>Guarnição: </strong>{{c.GUARNICAO}}<br>
              <strong>PTS: </strong>{{c.PTS}}<br>
              <strong>Salada: </strong>{{c.SALADA}}<br>
              <strong>Sobremesa: </strong>{{c.SOBREMESA}}<br>
              <strong>Suco: </strong>{{c.SUCO}}<br>
              <strong>Observação: </strong>{{c.OBS}}
            </ion-card-content>
        
          </ion-card>
         
         </div>
        
          <div *ngIf="fimSemana()">
            <ion-card>
              <ion-card-content>
                <p color="danger">Não existem cardápios disnponíveis nos finais de semana.</p>
              </ion-card-content>
            </ion-card>
          </div>
</ion-content>
